@model List<MovieModel>


<form asp-method="post" asp-action="MovieNightResults">
    <p>Enter Movie title:</p>
    <input type="text" name="title1" />
    <p>Enter Movie title:</p>
    <input type="text" name="title2" />
    <p>Enter Movie title:</p>
    <input type="text" name="title3" />
    <input type="submit" />
</form>

<br />

@{
    if (Model != null)
    {
        foreach (MovieModel m in Model)
        {
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@m.Poster" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@m.Title</h5>
                            <p class="card-text">@m.Plot</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}